// font
$maisonNeue: Maison Neue;


//font-weight:
$light:300;
$regular:400;
$mediumWeight:500;
$semiBold:600;
$bold:600;

//font-size:
$p80: 5rem;
$p60: 3.75rem; //h1
$p36: 2.25rem; //h2
$p28 : 1.75rem; // h3
$p22: 1.375rem; // big paragraph
$p18: 1.125rem;
$p16:1rem; // p
$p14:0.875rem; 



$bigTitle:2em;
$title:1.6em;
$medium:1.2em;
$normal:1em;
$small:.9em;
$verySmall:.7em;


$spaced:1px;


$lineheightMediumSmall:27px;

// COLOR
// Greys
$g50:#2A2A2A;
$g75:#1E1E1E;
$g100:#242424;
$g125:#2A2A2A;
$g200:#3A3A3A;
$g425:#666666;
$g625:#929292;
$g850:#CECECE;
$white:white;


//Theme
$focusYellow:#FCEE21;


// old color from portfolio 2016
$elecBlue:#2153F4;
$darkBlue:#0D1126;
$black:black;





//SIZES
$header-height: 120px;
$footer-height:120px;

$quoteDiscRadius:60px;