@import '_font';
@import '_variables';
@import '_normalize';
@import '_grid';




html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body{
    margin:0;
    position:absolute;
    top:0;
    left:0;
    //font-size:$normal;
    background-color:$white;
    min-height:1000px;
    width:100%;
    overflow-x:hidden;
    font-family:"Maison Neue", Arial, sans-serif;
    font-weight:$regular;
    color:$g75;
    line-height:1.4;
    -webkit-font-smoothing: antialiased;
  
  }

h1 {
    font-size:$p60;
    $font-weight:$bold;
    margin-bottom:.6rem;
}

h2 {
    font-size:$p36;
    margin-bottom:.4rem;
    line-height:3rem;
    font-weight:$bold;
}

.fs-22 p {
    font-size:$p22;
    margin-bottom:1.2rem;
}

p {
    font-size:$p18;
    margin-bottom:1rem;
}

strong {
    font-weight:$bold;
}

i {
    font-style:italic;
}


a {
    text-decoration:none;
    color:$g75;
    transition:all .5s;
    padding-bottom:5px;
    position:relative;
    background-image: linear-gradient(to right, $focusYellow 0%, $focusYellow 100%);
    background-repeat: repeat-x; 
    background-position: 0% 120%; 
    background-size: 100% .2rem;  
    &:hover {
        background-position: 0% 100%; 
  
    }
        
    
}